[data-component="Button"]{
    overflow: hidden;
    button{
        font-size: 14px;
        color: $gray-22;
        border: transparent;
        background-color: $gray-f0;
        border: 1px solid $gray-99;
        border-radius: 2px;
        transition: c 0.2s;

        &:hover{
            background-color: $gray-e6;
        }

        &:active{
            background-color: $gray-d6;
        }
    }
}