$gray-fa: #FAFAFA;
$gray-f5: #F5F5F5;
$gray-f8: #F8F8F8;
$gray-f0: #F0F0F0;
$gray-e6: #E6E6E6;
$gray-d6: #D6D6D6;
$gray-aa: #AAAAAA;
$gray-bb: #BBBBBB;
$gray-dd: #DDDDDD;
$gray-99: #999999;
$gray-80: #808080;
$gray-77: #777777;
$gray-64: #646464;
$gray-55: #555555;
$gray-32: #323232;
$gray-22: #222222;

$red: #ff2c2c;

$indigo-500: #4465DC;