$grayScale: (
    'fa': #FAFAFA,
    'f5': #F5F5F5,
    'f8': #F8F8F8,
    'f0': #F0F0F0,
    'e6': #E6E6E6,
    'd6': #D6D6D6,
    'aa': #AAAAAA,
    'bb': #BBBBBB,
    'dd': #DDDDDD,
    '99': #999999,
    '80': #808080,
    '77': #777777,
    '64': #646464,
    '55': #555555,
    '32': #323232,
    '22': #222222,
);

$darkBasic: (
    200: #4f4f67,
    300: #404055,
    500: #363944,
    600: #2d2f37,
    650: #2a2c33,
    700: #27282e,
    800: #212227,
    900: #1b1b1e,
    950: #161618,
);

$indigoNatural: (
    80: #BCBCC8,
    100: #9FA5B9,
    150: #69708A,
    200: #5E73BA,
    300: #4465DC,
    500: #475482,
    600: #36436F,
    650: #222C50,
);
  
$indigoGrey: (
    80: #BCBCC8,
    100: #9FA5B9,
    150: #69708A,
    400: #4F4F67,
    500: #404055,
    700: #2A2C33,
);
  
$indigoVivid: (
    50: #ECF0FB,
    500: #4465DC,
);